<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>About</title>
  </head>
  <body>
    <header>
      <div id="header-left">
        <h1>WES PEDEN</h1>
        <h3>one of the best jugglers of his era</h3>
      </div>
    </header>
    <div id="nav-wrapper">
      <nav id="nav">
        <a href="/home.html" class="nav-btn">Home</a>
        <a href="/about.html" class="nav-btn">About</a>
        <a href="/works.html" class="nav-btn">Works</a>
        <a href="/photo.html" class="nav-btn">Photo</a>
      </nav>
    </div>
    <div id="content-wrap">
      <div id="about-text-div">
        <h2>So, who IS Wes Peden?</h2>
        <p>Wes Peden is one of the most influential jugglers alive. Not only is he holding several world records in club juggling, he also pushes the limits of juggling in every video and each performance, with infectious enthusiasm and an untethered imagination.</p>
        <p>But let´s start at the begining...</p>
        <p>
          On a sunny day in May of 1990 Wesley Jefferson Peden was born to his parents, Jeff and his wife Margret... or Susan, I don´t know. Anyway, Wes Peden is an American juggler from Rochester, New York, now living in Stockholm, Sweden. His father, himself a mediocre juggler taught him to juggle when he was five, and started performing with him when he was eleven.
        </p>
        <p>At the age of 14 he won the IJA (International Jugglers Association) "Junior Competition"</p>
        <p>At the age of 18 he attended the "School of Dance and Circus" in Stockholm, Sweden for 3 years. He sold his first juggling video over the internet to finance his move. <a href="http://juggling.tv/1837">"Peden to Sweden"</a> is a juggling classic.</p>
        <div id="line"></div>
        <p>Wes holds the following world records with publicly available video evidence:</p>
        <ul>
          <li>6 club halfshower: 38 catches in 2012</li>
          <li>6 club backcrosses: 14 catches in 2008</li>
          <li>7 club (8x,6x): 20 catches in 2016</li>
          <li>9 ring triplexes: 42 catches in 2017</li>
        </ul>
      </div>
      <div">
        <img id="about-img" src="images/corn.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
