<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <div id="header-left">
        <h1>WES PEDEN</h1>
      </div>
    </header>
    <div id="nav-wrapper">
      <nav id="nav">
        <a href="/home.html" class="nav-btn">Home</a>
        <a href="/about.html" class="nav-btn">About</a>
        <a href="/works.html" class="nav-btn">Works</a>
        <a href="/photo.html" class="nav-btn">Photo</a>
    </div>
    <div id="content-wrap">
      <div>
        <div id="text-div">
          <h1>Welcome!</h1>
          <h2>To this small page about Wes Peden</h2>
          <h3>Who the f... is Wes Peden?</h3>
          <h3>Well, I´m glad you asked!</h3>
          <h3>Please check out the about page for more <br> information or simply click <a href="/about.html">here</a>.</h3>
        </div>
        <img id="home-img-2"src="images/new-zebra-2.jpg" alt="">
      </div>
      <div">
        <img id="home-img" src="images/new-zebra.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
