<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Photo</title>
  </head>
  <body>
    <header>
      <div id="header-left">
        <h1>WES PEDEN</h1>
        <h3>one of the best jugglers of his era</h3>
      </div>
    </header>
    <div id="nav-wrapper">
      <nav id="nav">
        <a href="/home.html" class="nav-btn">Home</a>
        <a href="/about.html" class="nav-btn">About</a>
        <a href="/works.html" class="nav-btn">Works</a>
        <a href="/photo.html" class="nav-btn">Photo</a>
      </nav>
    </div>

    <div class="gallery">
      <div class="gallery__column">
        <figure class="gallery__thumb">
          <img src="images/mess.jpg" alt="..." class="gallery__image" />
        </figure>

        <figure class="gallery__thumb">
          <img src="images/wes03.jpg" alt="..." class="gallery__image" />
        </figure>
      </div>

      <div class="gallery__column">
        <figure class="gallery__thumb">
          <img src="images/pink-clubs.jpg" alt="Portrait by Alex Perez" class="gallery__image" />
        </figure>

        <figure class="gallery__thumb">
          <img src="images/balls-overhead.jpg" alt="Portrait by Ivana Cajina" class="gallery__image" />
        </figure>
      </div>

      <div class="gallery__column">
        <figure class="gallery__thumb">
          <img src="images/zebra3.jpg" alt="Portrait by Mari Lezhava" class="gallery__image" />
        </figure>

        <figure class="gallery__thumb">
          <img src="images/new-zebra-2.jpg" alt="Portrait by Ethan Haddox" class="gallery__image" />
        </figure>
      </div>

      <div class="gallery__column">
        <figure class="gallery__thumb">
          <img src="images/sausage-1.jpg" alt="Portrait by Guilian Fremaux" class="gallery__image" />
        </figure>

        <figure class="gallery__thumb">
          <img src="images/tunnel.jpg" alt="Portrait by Jasmin Chew" class="gallery__image" />
        </figure>
      </div>
    </div>
  </body>
</html>
