<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Works</title>
  </head>
  <body>
    <header>
      <h1>WES PEDEN</h1>
      <h3>one of the best jugglers of his era</h3>
    </header>
    <div id="nav-wrapper">
      <nav id="nav">
        <a href="/home.html" class="nav-btn">Home</a>
        <a href="/about.html" class="nav-btn">About</a>
        <a href="/works.html" class="nav-btn">Works</a>
        <a href="/photo.html" class="nav-btn">Photo</a>
      </nav>
    </div>
    <div id="works-content-wrap">
      <div class="video-wrap">
        <h3>Mediocrity, 2006</h3>
        <p>Ridiculous title... bad video quality, 16 years old, 6 min</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/NZ9aTcR0HDM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-wrap">
        <h3>Peden to Sweden, 2007</h3>
        <p>He sold this online to finance his move to Sweden to attend Circus School</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/I9f5oCQ1c8k"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-wrap">
        <h3>Expectations, 2008</h3>
        <p>33 minute juggling film, here´s a trailer</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/bTd0URwzmpA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-wrap">
        <h3>Counting Escalator Steps, 2009</h3>
        <p>One of the first Videos I saw of Wes Peden. Mesmerizing.</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/cKAKMGrcINM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-wrap">
        <h3>Plaid, 2010</h3>
        <p>"...made from the love of weird catches"</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/jHSj5fwh8qU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-wrap">
        <h3>Slip Slizzers, 2013</h3>
        <p>5 club tricks, absolute madness</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/5wSu1urT8dQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-wrap">
        <h3>SALT, 2015</h3>
        <p>4 Ball Video, so many unique tricks... insane</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/e6SIZQYOqKU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-wrap">
        <h3>Juggler vs. Hotel Room, 2015</h3>
        <p>Trashing a hotel room... with juggling ;D</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/YpgvUxaKr9s"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-wrap">
        <h3>ICE CREAM (melted juggling by Wes Peden), 2019</h3>
        <p>Artistic composition of high level juggling, highly recommended!</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/MkqaPsE5W10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-wrap">
        <h3>LEMONS (by Wes Peden), 2021</h3>
        <p>Weird costumes and editing, crazy juggling</p>
        <iframe
          width="480"
          height="315"
          src="https://www.youtube.com/embed/AfNIkaVQNY4"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </body>
</html>
